body {
  background-image: url("kek.jpg");
	color:white;
}

h1{
	font-size:72px;
}

h1,h2,h3 {
	color: white;
	text-align:center;
	font-family:Arial;
}

form {
	text-align:center;
}
